/* Estilos generales */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', cursive;
    color: #333;
    background-color: white;
}

header, label, div, nav, ul, li, a, body {
    margin: 0;
    padding: 0;
}

/* Header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 25px;
}

.header__open-nav-button {
    color: black;
    font-size: 3rem;
    font-weight: 600;
    position: absolute;
    right: 10px;
}

.header__checkbox {
    display: none;
}

.header__logo {
    max-width: 100%;
    width: 70px;
    margin: 10px 20px;
}

.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 10px 0;
    height: auto;
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
}

.menu-lista {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    width: 100%;
}

.menu-lista li {
    position: relative;
}

.menu-lista a {
    color: black;
    padding: 15px 10px;
    text-decoration: none;
    display: block;
}

.menu-lista a:hover {
    color: red;
}

.header__checkbox:checked ~ .header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__nav li a:not(:is(:hover, :active)) {
    text-decoration: none;
}

/* Galería */
.contenedor-galeria {
    display: flex;
    width: auto;
    height: 430px;
}

.contenedor-galeria img {
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.contenedor-galeria img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

/* Información */
.informacion {
    background-color: #fff;
    color: black;
    padding: 20px;
    text-align: center;
    margin: 40px 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.informacion h2 {
    margin-bottom: 15px;
}

.informacion p {
    font-size: 16px;
    line-height: 1.6;
    padding: 20px;
}

/* Formulario de contacto */
.contacto {
    background-color: #fff;
    color: black;
    padding: 30px 15px;
    text-align: center;
    margin: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.contacto-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.contacto-form label {
    margin-bottom: 5px;
    font-size: 16px;
}

.contacto-form input, .contacto-form textarea {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.contacto-form button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.contacto-form button:hover {
    background-color: red;
}

/* Estilos para la sección de login y registro */
.auth {
    background-color: #fff;
    color: black;
    padding: 30px 15px;
    text-align: center;
    margin: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.auth-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.auth-forms {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.auth-form {
    width: 100%;
    max-width: 350px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.auth-form h3 {
    margin-bottom: 15px;
    font-size: 18px;
    color: #333;
}

.auth-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.auth-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.auth-form button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.auth-form button:hover {
    background-color: red;
}


/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

footer p {
    font-size: 16px;
}

/* Media Queries */
@media (max-width: 768px) {
    .header__nav {
        flex-wrap: wrap;
    }

    .menu-lista {
        flex-direction: column;
        align-items: center;
    }

    .menu-lista a {
        padding: 10px;
    }
}

@media (max-width: 600px) {
    .contenedor-galeria {
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    }

    .informacion, .contacto {
        margin: 20px 10px;
        padding: 15px;
    }

    .contacto-form input, .contacto-form textarea {
        max-width: 90%;
    }
}

/* Estilos responsivos para login y registro */
@media (max-width: 600px) {
    .auth-forms {
        flex-direction: column;
    }

    .auth-form {
        max-width: 90%;
    }
}
